# Programming Assignment 17

## Question 1

Create a function that takes three arguments a, b, c and returns the sum of the numbers that are evenly divided by c from the range a, b inclusive.
Examples
evenly_divisible(1, 10, 20) ➞ 0
* No number between 1 and 10 can be evenly divided by 20.

evenly_divisible(1, 10, 2) ➞ 30
* 2 + 4 + 6 + 8 + 10 = 30

evenly_divisible(1, 10, 3) ➞ 18
* 3 + 6 + 9 = 18

## Answer to the Question 1

In [3]:
def evenly_divisible(a, b, c):
    if b >= c and a <= b:
        sum = 0
        for i in range(c, b+1, c):
            sum += i
        return sum
    return 0

In [4]:
evenly_divisible(1, 10, 2)

30

In [5]:
evenly_divisible(1, 10, 3)

18

In [6]:
 evenly_divisible(1, 10, 20)

0

## Question 2

Create a function that returns True if a given inequality expression is correct and False otherwise.

#### Examples

correct_signs("3 < 7 < 11") ➞ True

correct_signs("13 > 44 > 33 > 1") ➞ False

correct_signs("1 < 2 < 6 < 9 > 3") ➞ True

## Answer to the Question 2

In [20]:
def correct_signs(expression):
    all_numbers = expression.split(" ")
    express_len = len(all_numbers)
    for i in range(0, express_len-3, 2):
        first_number = int(all_numbers[i])
        second_number = int(all_numbers[i+2])
        inequality = all_numbers[i+1]
        if inequality == ">":
            if first_number <= second_number:
                return False
        if inequality == "<":
            if first_number >= second_number:
                return False
        if i+3 == express_len:
            break
    return True

In [21]:
correct_signs("3 < 7 < 11")

True

In [22]:
correct_signs("13 > 44 > 33 > 1")

False

In [23]:
correct_signs("1 < 2 < 6 < 9 > 3")

True

## Question 3

Create a function that replaces all the vowels in a string with a specified character.

#### Examples

replace_vowels("the aardvark", "#") ➞ "th# ##rdv#rk"

replace_vowels("minnie mouse", "?") ➞ "m?nn?? m??s?"

replace_vowels("shakespeare", "*") ➞ "sh*k*sp**r*"

## Answer to the Question 3

In [26]:
def replace_vowels(string, replace):
    new = ""
    vowels = "aeiou"
    for i in string:
        if i in vowels:
            new += replace
        else:
            new += i
    return new

In [27]:
replace_vowels("the aardvark", "#")

'th# ##rdv#rk'

In [28]:
replace_vowels("minnie mouse", "?")

'm?nn?? m??s?'

In [29]:
replace_vowels("shakespeare", "*")

'sh*k*sp**r*'

## Question 4

Write a function that calculates the factorial of a number recursively.

#### Examples

factorial(5) ➞ 120

factorial(3) ➞ 6

factorial(1) ➞ 1

factorial(0) ➞ 1

## Answer to the Question 4

In [30]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

In [31]:
factorial(5)

120

In [32]:
factorial(3)

6

In [33]:
factorial(1)

1

In [34]:
factorial(0)

1

## Question 5

**Hamming distance** is the number of characters that differ between two strings.

To illustrate:

String1: "abcbba"
String2: "abcbda"

Hamming Distance: 1 - "b" vs. "d" is the only difference.

Create a function that computes the hamming distance between two strings.

#### Examples

hamming_distance("abcde", "bcdef") ➞ 5

hamming_distance("abcde", "abcde") ➞ 0

hamming_distance("strong", "strung") ➞ 1

## Answer to the Question 5

In [37]:
def hamming_distance(string1, string2):
    # Assumption is that the two strings have the same length
    distance = 0
    for i in range(len(string1)):
        if string1[i] != string2[i]:
            distance += 1
    return distance

In [38]:
hamming_distance("abcde", "bcdef")

5

In [39]:
hamming_distance("abcde", "abcde")

0

In [40]:
hamming_distance("strong", "strung")

1