# Assignment 16

## Question 1

Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

## Answer to the Question 1

In [3]:
birth_year = 1980
years_list = [i for i in range(birth_year, birth_year+6)]
print(years_list)

[1980, 1981, 1982, 1983, 1984, 1985]

## Question 2

In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

## Answer to the Question 2

In [4]:
print(years_list[3])

1983

## Question 3

In the years list, which year were you the oldest?

## Answer to the Question 3

In [5]:
print(years_list[-1])

1985

## Question 4

Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

## Answer to the Question 4

In [6]:
things = ["mozzarella", "cinderella", "salmonella"]
print(things)

['mozzarella', 'cinderella', 'salmonella']

## Question 5

Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

## Answer to the Question 5

In [8]:
things = [i.upper() for i in things]
print(things)

['MOZZARELLA', 'CINDERELLA', 'SALMONELLA']

## Question 6

Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

## Answer to the Question 6

In [10]:
surprise_list = ["Groucho", "Chico", "Harpo"]
print(surprise_list)

['Groucho', 'Chico', 'Harpo']

## Question 7

Lowercase the last element of the surprise list, reverse it, and then capitalize it.

## Answer to the Question 7

In [11]:
last_element = surprise_list[-1].lower()
last_element =  last_element[::-1]
last_element.capitalize()
surprise_list[-1] = last_element
print(surprise_list)

['Groucho', 'Chico', 'oprah']

## Question 8

Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

## Answer to the Question 8

In [14]:
e2f = {"dog": "chien", "cat": "chat", "walrus": "morse"}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

## Question 9

Write the French word for walrus in your three-word dictionary e2f.

## Answer to the Question 9

In [15]:
e2f["walrus"]

'morse'

## Question 10

Make a French-to-English dictionary called f2e from e2f. Use the items method.

## Answer to the Question 10

In [16]:
f2e = {}
for english, french in e2f.items():
    f2e[french] = english
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

## Question 11

Print the English version of the French word chien using f2e.

## Answer to the Question 11

In [17]:
f2e["chien"]

'dog'

## Question 12

Make and print a set of English words from the keys in e2f.

## Answer to the Question 12

In [18]:
english_words = set()
for key in e2f.keys():
    english_words.add(key)
print(english_words)

{'walrus', 'dog', 'cat'}

## Question 13

Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

## Answer to the Question 13

In [19]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

## Question 14

Print the top-level keys of life.

## Answer to the Question 14

In [20]:
print(life.keys())

dict_keys(['animals', 'plants', 'other'])

## Question 15

Print the keys for life['animals'].

## Answer to the Question 15

In [21]:
print(life['animals'].keys())

dict_keys(['cats', 'octopi', 'emus'])

## Question 16

Print the values for life['animals']['cats']

## Answer to the Question 16

In [23]:
print( life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']