# Question 1

1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6

# Answer to the Question 1

The following are considered as values:
* 'hello' (a string value)
* -87.8 (a float value)
* 6 (an integer value)

The following are considered as expressions:
* * (multiplication operator)
* - (subtraction operator)
* / (division operator)
* + (addition operator)

# Question 2

What is the difference between string and variable?

# Answer to the Question 2

String is a value of sequence of characters. String is immutable and so its values can't be changed after being assigned. Whereas a variable is a placeholder for any type of value including string. Varioable's values can be changed.

# Question 3

Describe three different data types.

# Answer to the Question 3

There are many built-in data types. 3 of them are described below:

* Numeric:
 - **int** for integer values such as -2,-1,0,1,2 etc.
 - **float** for floating-point numbers such as 0.0, 16.89, 212.984 etc.
 - **complex** for complex numbers such as 2 + 4j, 10 - 2j, -20 + 3j etc.
 
* Text:
 - **str** for representing sequence of characters such as "potato", "deep_learning", "New York" etc.
 
* Boolean
 - **bool** for representing truth values such as True or False

# Question 4

What is an expression made up of? What do all expressions do?

# Answer to the Question 4

Expression is made up of values, variables and operators. Expressions evaluate to a single value that can be assigned to a variable, used as an input in other expression, or as a parameter to a function, or can be displayed.

# Question 5

This assignment statements, like spam = 10. What is the difference between an expression and a statement?

# Answer to the Question 5

In the example given in the question, 10 is an expression which evaluates to a single value 10 and **spam = 10** is a statement that assigns the value of **10** to the variable **spam**.

Whereas expression evaluates to a single value, statement performs some actions such as assigning values to a variables, displaying result on the screen, checking conditions etc.

# Question 6

After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

# Answer to the Question 6

The value of the variable **bacon** will be still 22 as the value of the expression **bacon + 1** will be 23 and it is not assigned to **bacon** again.

# Question 7

What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

# Answer to the Question 7

The value for the first term **'spam' + 'spamspam'** will be **'spamspamspam'**

The value for the second term **'spam' * 3'** will be **'spamspamspam'**.

# Question 8

Why is eggs a valid variable name while 100 is invalid?

# Answer to the Question 8

This is because variable names can contain letters, numbers and underscores and can't start with a number. **eggs** have all alphabets, so it's a valid name and **100** has a number as  the starting alphabet and so an invalid variable name.

# Question 9

What three functions can be used to get the integer, floating-point number, or string version of a value?

# Answer to the Question 9

The three functions to get the integer, floating-point number, or string version of a value are **int()**, **float()** and **str()** respectively.

# Question 10

Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

# Answer to the Question 10

The expression **'I have eaten ' + 99 + ' burritos.'** will throw a **TypeError** as integer is concatenated with string. A very easy fix is to convert int value **99** to string and then concatenate it with strings. The fix is written below:

In [4]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'